<!DOCTYPE html>
<html>
  <head>
    <title>Time Letter</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/main.css" />
    <script src="../static/main.js"></script>
  </head>
  <body>
    <div id="page1" class="page">
      <img src="../static/logo.jpg" class="logo" />
    </div>
    <div id="page2" class="page hidden">
      <div class="welcome-row">
        <img src="../static/logo.jpg" class="logo" />
      </div>
      <div class="social_row">
        <a href="#" title="Use kakao">
          <!--카카오톡으로 연결되는 거 만들어야 됨-->
          <img id="kakaotalk" src="../static/kakao_mark.png" alt="kakao" />
        </a>
      </div>
      <form class="login-form" method="post" action="#선택 페이지">
        <div class="input_wrapper">
          <input
            type="email"
            id="email"
            name="email"
            class="input_field"
            placeholder="Your Email"
            required
          />
          <label for="email" class="input_label">E-mail:</label>
        </div>
        <div class="input_wrapper">
          <input
            type="password"
            id="password"
            name="password"
            class="input_field"
            placeholder="Your password"
            pattern="^(?=.*[A-Za-Z])(?=.*\d)[A-Za-z\d]{6,}$"
            required
          />
          <label for="password" class="input_label">Password:</label>
        </div>
        <div>
          <button type="submit" class="login-form_button">로그인</button>
        </div>
      </form>

      <br />
      <div class="login-form_action">
        <div class="login-form_row">
          <span>처음 오셨나요?</span
          ><a href="./create.html" title="Create Account">계정 만들기</a>
        </div>
      </div>
    </div>
  </body>
</html>
